<link rel="stylesheet" href="/static/common/imgscanner/css/reset.css">
<link rel="stylesheet" href="/static/common/imgscanner/css/style.css">
<script src="/static/common/imgscanner/dist/easySlider.js"></script>
<script type="text/javascript">
    $(function() {
        $("#slider").easySlider({
            slideSpeed: 500,
            paginationSpacing: "15px",
            paginationDiameter: "12px",
            paginationPositionFromBottom: "20px",
            slidesClass: ".slides",
            controlsClass: ".controls",
            paginationClass: ".pagination"
        });
    });
</script>

<div id="slider" style="margin-top: 0px;margin-bottom: 0px;margin-left: 0px;margin-right: 0px;">
    <ul class="slides clearfix">
        <li><img class="responsive" src="/static/common/imgscanner/img/1.jpg" style="width: 100%;height: 100%;"></li>
        <li><img class="responsive" src="/static/common/imgscanner/img/2.jpg" style="width: 100%;height: 100%;"></li>
        <li><img class="responsive" src="/static/common/imgscanner/img/3.jpg" style="width: 100%;height: 100%;"></li>
        <li><img class="responsive" src="/static/common/imgscanner/img/4.jpg" style="width: 100%;height: 100%;"></li>
    </ul>
    <ul class="controls">
        <li><img src="/static/common/imgscanner/img/prev.png" alt="previous"></li>
        <li><img src="/static/common/imgscanner/img/next.png" alt="next"></li>
    </ul>
    <ul class="pagination">
        <li class="active"></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>


