<link href="/static/module/homemanage/css/style.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="/static/module/homemanage/newcourse/Validate.js"></script>
<script type="text/javascript" src="/static/module/homemanage/newcourse/Validate.form.js"></script>

<div id="formbox">
    <form id="formpersonal" method="post" onsubmit="return false;">
        <div class="form">
            <h3>新开课程</h3>
            <div class="item">
                <span class="label"><span class="red">*</span>课程名称：</span>
                <div class="fl">
                    <input type="text" id="course_name" name="course_name" class="text"/>
                    <label id="course_name_succeed" class="blank"></label>
                    <span class="clear"></span>
                    <div id="course_name_error"></div>
                </div>
            </div>

            <div class="item">
                <span class="label"><span class="red">*</span>课程大类别：</span>
                <div class="fl">
                    <select rel="select" id="course_type" name="course_type">
                        <option value="-1">请选择</option>
                        <option value="编程语言类"  >编程语言类</option>
                        <option value="小学教育"  >小学教育</option>
                        <option value="初中教育"  >初中教育</option>
                        <option value="高中教育"  >高中教育</option>
                        <option value="大学教育"  >大学教育</option>
                        <option value="其他"  >其他</option>
                    </select>
                    <label id="course_type_succeed" class="blank"></label>
                    <span class="clear"></span>
                    <label id="course_type_error"></label>
                </div>
            </div>

            <div class="item">
                <span class="label"><span class="red">*</span>课程子类别：</span>
                <div class="fl">
                    <input type="text" id="course_sub_type" name="course_sub_type" class="text"/>
                    <label id="course_sub_type_succeed" class="blank"></label>
                    <span class="clear"></span>
                    <div id="course_sub_type_error"></div>
                </div>
            </div>

            <div class="area-item">
                <span class="label"><span class="red">*</span>课程简介：</span>
                <div class="fl">
                    <textarea rel="textarea" id="course_short_desc" name="course_short_desc" rows="10" cols="50" class="textarea">
                    </textarea>
                    <label id="course_short_desc_succeed" class="blank"></label>
                    <span class="clear"></span>
                    <div id="course_short_desc_error"></div>
                </div>
            </div>

            <div class="item">
                <span class="label">&nbsp;</span>
                <input type="button" class="yellow_button" id="registsubmit" value="确定" tabindex="3"/>
            </div>
        </div>
    </form>
</div>

