<link rel="stylesheet" type="text/css" href="/static/common/paginator/css/paging.css">
<script type="text/javascript" src="/static/common/paginator/js/query.js"></script>
<script type="text/javascript" src="/static/common/paginator/js/paging.js"></script>

<script type="text/javascript" src="/static/common/vue.min.js"></script>
<script type="text/javascript" src="/static/js/blog/blog_list.js"></script>

<style>
    [v-cloak] {
        display: none;
    }
</style>

<div>
    <div id="blog_list" style="padding-left: 50px;">
        <ul v-cloak v-for="blog in blogs">
            <li style="border-bottom: 1px solid #eee;">
                <div>
                    <label style="font-weight: bold;font-size: 14px;">博文标题：</label>
                    <span style="padding: 2px 4px;font-size: 90%;color: #c7254e;background-color: #f9f2f4;border-radius: 4px;">
                        [[ blog.blog_title ]]
                    </span>
                </div>
                <div>
                    <label style="font-weight: bold;font-size: 14px;">搜索关键词：</label><span>[[ blog.key_words ]]</span>
                </div>
                <div>
                    <label style="font-weight: bold;font-size: 14px;">作者：</label><span>[[ blog.author ]]</span>
                </div>
                <div>
                    <label style="font-weight: bold;font-size: 14px;">博文类型：</label>
                    <span v-if="blog.blog_type === 0">原创</span>
                    <span v-if="blog.blog_type === 1">翻译</span>
                    <span v-if="blog.blog_type === 2">转载</span>
                </div>
                <div>
                    <label style="font-weight: bold;font-size: 14px;">博文状态：</label>
                    <span v-if="blog.blog_status === 0">已发布</span>
                    <span v-if="blog.blog_status === 1"><button type="button" class="btn btn-info btn-xs">立即发布</button></span>
                </div>
                <div>
                    <label style="font-weight: bold;font-size: 14px;">浏览次数：</label><span>[[ blog.edits ]]</span>
                </div>
                <div>
                    <label style="font-weight: bold;font-size: 14px;">编辑次数：</label><span>[[ blog.blog_status ]]</span>
                </div>
                <div>
                    <label style="font-weight: bold;font-size: 14px;">创建时间：</label><span>[[ blog.created_time ]]</span>
                </div>
                <div>
                    <label style="font-weight: bold;font-size: 14px;">修改时间：</label><span>[[ blog.last_updated_time ]]</span>
                    <span>
                        <button type="button" class="btn btn-primary btn-xs">编辑</button>
                        <button type="button" class="btn btn-success btn-xs">修改</button>
                        <button type="button" class="btn btn-info btn-xs">删除</button>
                    </span>
                </div>
            </li>
        </ul>
        <div id="catalog_pageTool"></div>
    </div>
</div>

