<link rel="stylesheet" type="text/css" href="/static/common/paginator/css/paging.css">
<script type="text/javascript" src="/static/common/paginator/js/query.js"></script>
<script type="text/javascript" src="/static/common/paginator/js/paging.js"></script>

<script type="text/javascript" src="/static/common/vue.min.js"></script>
<script type="text/javascript" src="/static/js/blog/blog_list.js"></script>

<style>
    [v-cloak] {
        display: none;
    }
</style>

<div>
    <div id="blog_list" style="padding-left: 50px;">
        <ul v-cloak v-for="blog in blogs">
            <li style="border-bottom: 1px solid #eee;">
                <dl>
                    <dt style="float: left;font-weight:400;">博文标题：</dt>
                    <dd style="float: left;">[[ blog.blog_title ]]</dd>
                </dl><br/>
                <dl>
                    <dt style="float: left;font-weight:400;">搜索关键词：</dt>
                    <dd style="float: left;padding: 2px 4px;font-size: 90%;color: #00c10b;background-color: #f9f2f4;border-radius: 4px;">
                        [[ blog.key_words ]]
                    </dd>
                </dl><br/>
                <dl>
                    <dt style="float: left;font-weight:400;">作者：</dt>
                    <dd style="float: left;">[[ blog.author ]]</dd>
                </dl><br/>
                <dl>
                    <dt style="float: left;font-weight:400;">博文类型：</dt>
                    <dd style="float: left;" v-if="blog.blog_type === 0">原创</dd>
                    <dd style="float: left;" v-if="blog.blog_type === 1">翻译</dd>
                    <dd style="float: left;" v-if="blog.blog_type === 2">转载</dd>
                </dl><br/>
                <dl>
                    <dt style="float: left;font-weight:400;">博文状态：</dt>
                    <dd style="float: left;" v-if="blog.blog_status === 0">
                        <button type="button" class="btn btn-info btn-xs" :onclick="'publish_blog(' + blog.id + ');'">立即发布</button>
                    </dd>
                    <dd style="float: left;" v-if="blog.blog_status === 1">已发布</dd>
                </dl><br/>
                <dl>
                    <dt style="float: left;font-weight:400;">浏览次数：</dt>
                    <dd style="float: left;">[[ blog.edits ]]</dd>
                </dl><br/>
                <dl>
                    <dt style="float: left;font-weight:400;">编辑次数：</dt>
                    <dd style="float: left;">[[ blog.blog_status ]]</dd>
                </dl><br/>
                <dl>
                    <dt style="float: left;font-weight:400;">创建时间：</dt>
                    <dd style="float: left;">[[ blog.created_time ]]</dd>
                </dl><br/>
                <dl>
                    <dt style="float: left;font-weight:400;">修改时间：</dt>
                    <dd style="float: left;">[[ blog.last_updated_time ]]</dd>
                    <dd style="float: left;">
                        <button type="button" class="btn btn-success btn-xs" :onclick="'edit_blog(' + blog.id + ');'">编辑</button>
                        <button type="button" class="btn btn-info btn-xs" :onclick="'delete_blog(' + blog.id + ');'">删除</button>
                    </dd>
                </dl><br/>
            </li>
        </ul>
        <div id="catalog_pageTool"></div>
    </div>
</div>

