<html>
<head>
    <title>Isoft注册账号</title>
    <meta charset="utf-8">
</head>
<link rel="stylesheet" href="/static/css/initial.css"/>
<link rel="stylesheet" href="/static/common/bootstrap-3.3.7-dist/css/bootstrap.css"/>
<script src="/static/common/jquery-1.11.3.min.js" type="text/javascript"></script>
<script src="/static/common/bootstrap-3.3.7-dist/js/bootstrap.js" type="text/javascript"></script>
<link rel="stylesheet" href="/static/css/layout.css"/>
<body>
{{template "common/header.html"}}
<div style="width: 88%;margin: 15px auto;">

    <div style="width:calc(100% - 205px);min-height:550px;float: left;">
        <header>
            <div style="text-align: center;">
                <article>
                    <h3>
                        <a href="javascript:" style="text-decoration: none;font-family: Verdana,Arial,Microsoft YaHei,sans-serif;
                            word-wrap: break-word;color: green;">Admin的博客</a>
                    </h3>
                    <p>与其在悬崖上展览千年，不如在爱人肩头痛哭一晚</p>
                </article>
            </div>
            <div class="social">
                <a target="_blank" class="github" href="https://github.com/389093982" title="GitHub" style="float: right;">GitHub</a>
            </div>
        </header>
    {{.LayoutContent}}
    </div>

    <div style="width:200px;min-height:300px;float: right;">
        <!-- 友情页面 -->
        {{template "common/friend.html"}}
    </div>
</div>

{{template "common/footer.html"}}
</body>
</html>