<link rel="stylesheet" type="text/css" href="/static/common/paginator/css/paging.css">
<script type="text/javascript" src="/static/common/paginator/js/query.js"></script>
<script type="text/javascript" src="/static/common/paginator/js/paging.js"></script>
<script type="text/javascript" src="/static/common/vue.min.js"></script>

<div style="border:1px solid #D1D1D1;min-height: 500px;">

    <div class="row">
        <div class="col-lg-6" style="margin-top: 5px; margin-right: 5px; float: right;">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="检索">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Go!</button>
                </span>
            </div>
        </div>
    </div>
    
    <script>
        $(function () {
            // 定义一个全局的 vueData,初始数据为空
            var loginRecordsVueData = {
                loginRecords:[]
            };
            // 定义一个全局的 vue 实例,引用这个全局的 vueData
            var loginRecordsVue = new Vue({
                // 修改 vue 默认分隔符,解决冲突问题
                delimiters: ['[[', ']]'],
                el: '#loginRecords_list',
                data: loginRecordsVueData
            });

            function pageToolFunction(obj) {
                // 渲染分页信息
                $('#pageTool').Paging({pagesize: obj.paginator.pagesize,count:obj.paginator.totalcount,current:1,callback:function(page,size,count){
                        loadPageData(page, size, null);
                }});
            }

            function loadPageData(current_page,page_size,pageToolFunction) {
                $.ajax({
                    url:"/userlogin/loginRecordList?current_page=" + current_page + "&offset=" + page_size,
                    method:"post",
                    async: false,
                    success:function (data) {
                        // 使用 $set 去修改这个 vueData 进行刷新页面
                        loginRecordsVue.$set(loginRecordsVueData, 'loginRecords', data.loginRecords);
                        if(pageToolFunction != null){
                            pageToolFunction(data);              // 渲染分页
                        }
                    }
                });
            }
            // 加载第一页,10条记录,加载完成之后使用 pageToolFunction 函数进行分页渲染
            loadPageData(1,10,pageToolFunction);
        });
    </script>


    <div id="loginRecords_list" class="table-responsive" style="margin: 10px;margin-top: 20px;">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>user_name</th>
                    <th>login_ip</th>
                    <th>origin</th>
                    <th>referer</th>
                    <th>login_status</th>
                    <th>login_result</th>
                    <th>created_by</th>
                    <th>created_time</th>
                    <th>last_updated_by</th>
                    <th>last_updated_time</th>
                </tr>
            </thead>
            <tbody>
                <tr v-cloak v-for="loginRecord in loginRecords">
                    <td>[[ loginRecord.user_name ]]</td>
                    <td>[[ loginRecord.login_ip ]]</td>
                    <td>[[ loginRecord.origin ]]</td>
                    <td>[[ loginRecord.referer ]]</td>
                    <td>[[ loginRecord.login_status ]]</td>
                    <td>[[ loginRecord.login_result ]]</td>
                    <td>[[ loginRecord.created_by ]]</td>
                    <td>[[ loginRecord.created_time ]]</td>
                    <td>[[ loginRecord.last_updated_by ]]</td>
                    <td>[[ loginRecord.last_updated_time ]]</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="pageTool"></div>
</div>